._17tTs ._1YKEc {
    display: flex;
    align-items: center;
}

._17tTs {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}

._2xg5B ._18NX_ a {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    color: #002f34;
    text-decoration: none;
}

._2xg5B {
    display: flex;
    align-items: center;
}